[submodule "forceSensor"]
	path = forceSensor
	url = git://github.com/robEllenberg/forceSensor.git
[submodule "servocontroller"]
	path = servocontroller
	url = git://github.com/daslrobotics/servocontroller.git
[submodule "comps-code"]
	path = comps-code
	url = git://github.com/robEllenberg/comps-code.git
