[submodule "forceSensor"]
	path = forceSensor
	url = git://github.com/robEllenberg/forceSensor.git
[submodule "comps-plugins"]
	path = comps-plugins
	url = git://github.com/robEllenberg/comps-plugins.git
[submodule "openmr"]
	path = openmr
	url = git://github.com/robEllenberg/openmr.git
[submodule "ravespacenav"]
	path = ravespacenav
	url = git://github.com/robEllenberg/ravespacenav.git
